
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <title>POLL</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
    <div id="header">
        <h2> Application Name "POLL"</h2>
        <h4>WELCOME TO MY FIRST Django APP</h4>
    </div>
    <div id="main">
        <div id="wrapper">
            <div id="content">
            <h1>Choose which to Vote for:</h1>
            {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
            </div>
        </div>
    </div>

</body>
</html>